<div class="h-screen login-body bg-white flex justify-between items-center">
    <div class="login-content">
        <div class="login-header flex justify-center items-center mb-6">
            <h1 class="text-6xl font-bold">Owlet</h1>
            <img class="w-24 h-16" src="../../assets/images/Owlet logo 1.svg" alt="" />
        </div>
        <div class="form-area space-y-4">
            <h2 class="text-sky-950 text-3xl font-semibold">
                Login
            </h2>
            <p class="pb-2 text-base font-medium">
                Please login to your account
            </p>
            <div class="form-inputs flex justify-start items-center">
                <form>
                    <label>Username</label><br>
                    <div class="input-field px-4 flex items-center gap-3 mb-4 mt-2">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" name="username" required class="py-5" />
                    </div>

                    <label>Password</label><br>
                    <div class="input-field px-4 flex items-center justify-between mb-1 mt-2">
                        <div class="flex flex-row items-center gap-3">
                            <i class="fa-solid fa-key"></i>
                            <input [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password" required class="py-5" />
                        </div>
                        <button (click)="togglePassword()"><i class="fa-regular fa-eye-slash"></i></button>
                    </div>

                    <div class="password-section flex flex-row justify-between items-center mb-5">
                        <div class="remember-me flex flex-row items-center gap-1">
                            <input type="checkbox" name="forgot" value="Forgot" />
                            <label for="forgot">Remember me</label>
                        </div>
                        <a href="#">Forgot Password</a>
                    </div>

                    <button class="text-white flex justify-start items-center font-normal submit">
                        <a routerLink='/dashboard'>Login</a>
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div class="home-img">
        <img class="" src="../../assets/images/login-img.png" alt="" />
    </div>
</div>