<div class="flex flex-col items-center justify-center min-h-screen max-sm:w-auto">
    <h3 class="text-4xl text-[#022D63] font-bold md:text-xl sm:text-lg">Oops page not found</h3>
    <img src="../../assets/error-page.jpg" width="350px" height="350px" alt="">
    <div class="text-[#022D63] sm:text-wrap sm:text-sm text-center mt-2">
        <p>Sorry about that!</p>
        <p>Please visit our homepage to get where you need to go.</p>
    </div>
    <button [routerLink]="['']" target="_blank" class="py-3 px-8 rounded-md shadow text-sm font-semi-bold text-[#F2F2F2] bg-[#022D63] hover:text-[#022D63] hover:bg-[#F2F2F2] mt-3">Back to HomePage</button>
</div>