<div class="left-0 right-0 w-full relative md:w-64 h-full p-4 pt-6 border-r shadow-lg text-sm ">
    <ul>
        <li>
            <a [routerLink]="['/dashboard']" class="flex items-center pt-4 pb-4 pl-2 position-relative ">
                <img src="../../assets/dashboard.png " alt=" ">
                <span class="text-gray-500 ml-5 word">Dashboard</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/alert']" class="flex items-center pb-4 pl-2 position-relative hover:text[#022D63]">
                <img src="../../assets/alert.png " alt=" ">
                <span class="text-gray-500 ml-5 word">Alert</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right hover:text[#022D63]"></i>
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/monitor']" class="flex items-center pb-4 pl-2 position-relative ">
                <img src="../../assets/monitor.png " alt=" ">
                <span class="text-gray-500 ml-5 word">Monitor</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/login']" class="flex items-center pb-4 pl-2 position-relative ">
                <img src="../../assets/logout.png " alt=" ">
                <span class="text-gray-500 ml-5 word">Logout</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
    </ul>
</div>