#side-bar {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.position-relative {
    position: relative;
}

.arrow {
    position: absolute;
    right: 16px;
    opacity: 0;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}

.active {
    font-weight: bold;
}

.active .arrow {
    opacity: 1;
    color: #022D63;
}

.active .word {
    color: #022D63;
}

.active .logo {
    color: #022D63;
}

.fa {
    font-size: 40px;
    height: 40px;
}

.show {
    display: none;
}