<div class="left-0 right-0 w-full relative md:w-64 h-full p-4 pt-4 border-r shadow-lg text-sm ">
    <ul>
        <li>
            <a (click)="gotoMainDashboard()" class="flex items-center pt-4 pb-4 pl-2 position-relative ">
                <img src="../../assets/dashboard.png " alt=" ">
                <span class="text-gray-500 ml-5 ">Dashboard</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <a (click)="gotoAlert()" class="flex items-center pb-4 pl-2 position-relative ">
                <img src="../../assets/alert.png " alt=" ">
                <span class="text-gray-500 ml-5 ">Alert</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <a (click)="gotoMonitor()" class="flex items-center pb-4 pl-2 position-relative ">
                <img src="../../assets/monitor.png " alt=" ">
                <span class="text-gray-500 ml-5 ">Monitor</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <a href=" " class="flex items-center pb-4 pl-2 position-relative ">
                <img src="../../assets/logout.png " alt=" ">
                <span class="text-gray-500 ml-5 ">Logout</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
    </ul>
</div>