<div class="left-0 right-0 w-full relative md:w-64 h-full p-4 pt-6 border-r shadow-lg text-sm ">
    <ul>
        <li>
            <a [routerLink]="['/dashboard']" routerLinkActive="active" class=" flex items-center pt-4 pb-4 pl-2 position-relative ">
                <i class="fa-solid fa-chess-board"></i>
                <span class="text-gray-500 ml-5 word">Dashboard</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="[ '/alert']" routerLinkActive="active" class="flex items-center pb-4 pl-2 position-relative hover:text[#022D63] ">
                <i class="fa-regular fa-bell"></i>
                <span class="text-gray-500 ml-5 word">Alert</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right hover:text[#022D63] "></i>
                </span>
            </a>
        </li>
        <li>
            <a [routerLink]="[ '/monitor']" routerLinkActive="active" class="flex items-center pb-4 pl-2 position-relative ">
                <img src="../../assets/monitor.png " alt=" ">
                <span class="text-gray-500 ml-5 word">Monitor</span>
                <span class="arrow ">
                    <i class="fa-solid fa-chevron-right "></i>
                </span>
            </a>
        </li>
        <li>
            <button (click)="onLogOut()">
                <a  routerLinkActive="active" class="flex items-center pb-4 pl-2 position-relative ">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span class="text-gray-500 ml-5 word">Logout</span>
                    <span class="arrow ">
                        <i class="fa-solid fa-chevron-right "></i>
                    </span>
                </a>
            </button>
        </li>
    </ul>
</div>