<app-transaction-nav></app-transaction-nav>
<img class="w-44 h-20 mx-auto" src="../../assets/images/firstbank-logo.svg" alt=""/>
<div class="transaction-body bg-white flex justify-between items-center">
    <div class="">
        <div class="flex justify-center items-center mb-6">
            <h1 class="text-6xl font-bold">Owlet</h1>
            <img class="w-24 h-16" src="../../assets/images/Owlet logo 1.svg" alt="" />
        </div>
        <div class="space-y-4">
            <h2 class="text-sky-950 text-3xl font-semibold">
                Transaction Simulation
            </h2>
            <div class="flex justify-start items-center">
                <form>
                    <label>Enter Benefiaciary Acc No</label><br>
                    <div class="px-4 flex items-center gap-3 mb-4 mt-2">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" name="username" required class="py-5" />
                    </div>

                    <label>Transaction method</label><br>
                    <div class="px-4 flex items-center gap-3 mb-4 mt-2">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" name="username" required class="py-5" />
                    </div>

                    <label>Enter Amount</label><br>
                    <div class="px-4 flex items-center gap-3 mb-4 mt-2">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" name="username" required class="py-5" />
                    </div>

                    <button class="text-white flex justify-start items-center font-normal submit">
                        <a routerLink='/dashboard'>Make Payment</a>
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div class="home-img">
        <img class="" src="../../assets/images/trans-img.png" />
    </div>
</div>
