.home-body{
    max-width: 1050px;
    margin-inline: auto;
}

.header h1 {
    color: #022D63;
    font-family: Poppins;
    font-size: 96px;
}

.header img{
    width: 141px; 
    height: 93.61px;
}

.details{
    font-size: 34px;
    font-family: Poppins;
    letter-spacing: 0.30px;
    word-wrap: break-word;
    width: 388px;
}

.details p{
    width: 428px;
    color: #6C757D;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.20px;
}

.get-started a{
    font-family: Inter, sans-serif;
    font-size: 21px;
    font-weight: 400;
    background-color: #022D63;
    padding: 15px 75px;
    box-shadow: 0px 4px 12px #B0BEEF;
    border-radius: 14px;
}

.get-started a:hover{
    background-color: #001835;
}